body {
    margin : 0;
    font-family: sans-serif;
    background: url(Pictures/background.jpg);

}


.category {
    width: 100%;
    z-index: 200;
    text-align: center;
    margin-bottom: 2px;
    cursor: pointer;
    position: fixed;
    
    
    

}



header.sticky{
    padding: 2px 5px;
    background: lightgray;
    background-size: 300px 80px;
    transition: 0.6s;
    opacity: 0.8;
    font-size: 13px;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 10px;
    transform: translate(0px, -140px);
    position: relative;
   
      
}



h3{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
}

a{
    text-decoration: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding-top: 60px;
    
    
}

.content {
    width: 60%;
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: white;
    
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0,0, 0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);

}

.IMG{
    width: 60%px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}



p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;

}

h6{
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin:0;
    
}





.but-3{
    background:black ;
    bottom: 0;
    text-align: center;
    font-size: 24px;    
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: -80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:20px ;
}
























































































ul.menu{
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
    
   
    
}

li.menu{
    float: right;
}



li a{
    width: 130px;
    padding: 10px 14px;
    font-size: 13px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    display:block;
    color: lightslategray;
    text-align: center;
    letter-spacing: 0.1px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

li a:hover{
    color: azure;
}



input[type=text]{
    margin: 5px 2px;
    padding: 2px;
    border-radius: 5px;
    font-size: 14px;
    font-family: monospace;
    background: transparent;
    border: 1px solid azure;
    border-top: none;
    border-left: none;
    border-right: none;
}

.butt{
    float:inline-end;
    padding: 5px;
    border-radius: 10px;
    position: relative;
    margin-top: 5px;
    font-size:12px ;
    font-family: sans-serif;
    cursor: pointer;
    background-color: rgb(133, 124, 215);
    border-top: none;
    border-left: none;
    z-index: 100;

    

 }






.user{
    margin-right: 90px;
}

.font{
    font-size: 10px; 
    opacity: 2;
   
}

.font1{
    font-size: 12px;
    color: whitesmoke; 
    font-family: sans-serif;
    opacity: 2;

}

table.table2{
    opacity: 2;
}


.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    background-color:rgb(72, 69, 69);
    opacity: 0.8;
    
    
  }

  

  footer{
    padding-top: 60px;
  }
    

  

.shoppingbal{
    padding-bottom: 14px;
    font-size: 10px;
}

.right{
    text-align: left;
}


ul{
    align-content: center;
    list-style: none;
    font-family: sans-serif;
    
}

ul :hover{
    color: rgb(255, 246, 246);

}

.position{
    
    padding-right: 3%;

}

.balfuter{

    padding-top: 2%;
   
}

.bakft{
    padding-top: 20px;
    width: 75%;
    height: 20%;
}




































@media(max-width:1000px){
    .content{
        width: 45%;
        
            
    }
    header.sticky{
        transform: translate(0px, -200px);
        }
}


@media(max-width:750px){
    .content{
        width: 100%;
    }

    header.sticky{
        transform: translate(0px, -180px);
        
}
}

@media(max-width:550px){
    .content{
        width: 100%;
    }

    header.sticky{
        transform: translate(0px, -230px);
        
}

}


@media(max-width:500px){
    .content{
        width: 100%;
    }

    header.sticky{
        transform: translate(0px, -250px);
        
}

}